:root {
	--glassBG: rgba(40, 40, 80, 0.4);
	--glassBGinactive: rgba(40, 40, 80, 0.2);
	--wallpaper: 1;
	margin: 0px;
	padding: 0px;
}

@keyframes bodyback {
	from {background-position: left center;}
	to {background-position: right center;}
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	background: url("../images/background.webp") center no-repeat;
	background-size: cover;
	animation-name: bodyback;
	animation-duration: 120s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: silver;
	overflow: hidden;
}

/* Things shared by all navigations */

nav, #sidenav, #searchbar, #searchmod {
	padding: 0px;
	position: fixed;
	backdrop-filter: blur(5px);
	background-color: var(--glassBGinactive);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-style: double;
	border-color: silver;
	z-index: 1;
	box-sizing: border-box;
}

:is(nav, #sidenav) a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}

#sidenav, #searchmod {
	width: clamp(150px, 30vw, 300px);
	height: 60vh;
	top: 20vh;
}

/* Main navbar */
nav {
	width: 65vw;
	height: 3rem;
	top: 0px;
	left: 0px;
	border-width: 0px 3px 3px 0px;
	border-radius: 0px 0px 50px 0px;
	transition: background-color 0.3s;
}

nav:hover {
	background-color: var(--glassBG);
}

nav > a {
	font-size: clamp(1rem,4vw,1.6rem);
	transition: font-size 0.5s;
}

nav > a:hover {
	font-size: clamp(1.1rem,4.2vw,1.7rem);;
}

nav > a:first-of-type {
	font-size: 2rem;
	font-weight: 125%;
	transition: none;
}

/* Side navbar */
#sidenav {
	flex-flow: column nowrap;
	border-width: 3px 3px 3px 0px;
	border-radius: 0px 20px 20px 0px;
	transform: translateX(-95%);
	transition: transform 0.3s, background-color 0.5s;
}

#sidenav:hover {
	transform: translateX(0%);
	background-color: var(--glassBG);
}

#sidenav > a {
	font-size: clamp(1rem,2vw,1.3rem);
}

/* Search bar */ 

#searchbar {
	width: 25vw;
	height: 3rem;
	top: 0px;
	left: 75vw;
	border-radius: 0px 0px 0px 50px;
	border-width: 0px 0px 3px 3px;
	justify-content: right;
	padding: 1rem;
}

#searchbar > input {
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	font-size: clamp(1rem,4vw,1.6rem);
	border: none;
	width: 100%;
	height: 100%;
}

#searchbar > label {
	display: inline;
	margin: 0.2em;
	font-size: 110%;
}

#searchbar > label, #searchbar > input {
	height: 2rem;
	color: inherit;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#searchmod {
	right: 0px;
	flex-flow: column nowrap;
	border-width: 3px 0px 3px 3px;
	border-radius: 20px 0px 0px 20px;
	transform: translateX(95%);
	transition: transform 0.3s, background-color 0.5s;
}

main {
	padding: 0.5rem;
	border-radius: 20px;
	border: 1px solid silver;
	backdrop-filter: blur(5px);
	background-color:var(--glassBGinactive);
	opacity: var(--wallpaper);
	height: 80vh;
	width: 80vw;
	margin: 10vh 10vw;
	box-shadow: 20px 20px 25px rgba(255,255,255,0.1) inset, -20px -20px 25px rgba(255,255,255,0.1) inset;
	transition: opacity 0.5s;
}