:root {
    --gradientBase: #770059;
    --navColorA: #ff33ccaa;
    --navColorB: #770059cc;
    --mainBase: #360029a1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(transparent, var(--navColorB), transparent);
    cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(transparent, var(--navColorA), transparent);
}

.w25 {
	width: 25%;
}

.w50 {
	width: 50%;
}

.w75 {
	width: 75%;
}

.w100 {
	width: 100%;
}

.connect, .sidePanel .navButton {
    background: none;
    color: silver;
    border: none;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px silver solid;
    cursor: pointer;
}

.connect.right {
    border: none;
}

.connect.active {
    background-image: linear-gradient(to right, transparent, var(--navColorB), var(--navColorB), transparent);
}

.sidePanel .navButton {
    background: linear-gradient(to right, transparent, var(--navColorB), var(--navColorB), transparent);
	margin: 0.5rem;
    border: none;
	filter: brightness(80%);
	transition: filter 1s;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
    padding: 0.5rem 0rem;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    padding: 0.5rem 0rem;
}

.sidePanel {
    position: absolute;
    display: grid;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 75vh;
    width: 400px;
    top: 12vh;
    background-color: var(--mainBase);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid silver;
}

.sidePanel > .nav {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-around;
	align-items: center;
}

.sidePanel.left {
    border-right: 4px double silver;
    left: calc(3rem - 400px);
    transition: left 1s;
    border-radius: 0px 5px 5px 0px;
}

.sidePanel.left > .nav > button {
    transform: rotate(270deg);
    width: 37vh;
}

.sidePanel.left:hover {
	left: 0px;
}

.sidePanel.right {
    border-left: 4px double silver;
    right: calc(3rem - 400px);
    transition: right 1s;
    border-radius: 5px 0px 0px 5px;
}

.sidePanel.right > .nav > button {
    transform: rotate(90deg);
    width: 37vh;
}

.sidePanel.right:hover {
	right: 0px;
}

.sidePanel .navButton:hover {
	filter: brightness(100%)
}


body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(black, var(--gradientBase), black) no-repeat center;
    background-size: cover;
    font-size: 1.1rem;
    color: silver;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

main {
    box-sizing: border-box;
    padding: 1%;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
}

main > * {
    background-color: var(--mainBase);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-wrap: normal;
    box-sizing: border-box;
    padding: 1%;
}


fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0px;
}

label {
    display: flex;
    flex-flow: column nowrap;
}

input, select, textarea {
    background: var(--navColorB);
    border: none;
    box-sizing: border-box;
    height: 100%;
    color: inherit;
    font-size: 1.1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0px 15px;
}

#userPanel {
    grid-template: 
    "nav top"
    "nav view";
    grid-template-columns: 2rem auto;
    grid-template-rows: 10% auto;
}

#userPanel #userPanelTag {
    grid-area: nav;
}

#userPanel > #userPanelHeader {
    grid-area: top;
}

#userControlModule {
    grid-area: view;
    justify-content: center;
}

/* OVERRIDES */

.hidden {
    display: none !important;
}

@media only screen and (min-width: 2560px) {
    body {
        font-size: 2rem;
    }

    /* :is(#charWeap, #charArmor, #charCloth, #charItems) > p {
        flex-basis: 33%;
    }

    :is(#charWeap, #charArmor, #charCloth, #charItems) > p:nth-child(odd) {
        border: initial;
    }


    :is(#charWeap, #charArmor, #charCloth, #charItems) > p:nth-child(3) {
        border: none;
    } */

    .connect {
        font-size: 120%;
    }

    .sidepanel {
        gap: 1rem;
        padding: 1rem;
        left: calc(4rem - 400px);
    }
}