nav {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    min-height: 2rem;
    height: 4vh;
    align-items: center;
    justify-content: center;
    font-size: inherit;
}

nav > a {
    background: linear-gradient(var(--navColorA), var(--navColorB)) no-repeat center;
    background-size: cover;
    text-decoration: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid silver;
    padding: 5px;
    font-weight: bold;
    box-sizing: border-box;
    color: silver;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navPrev {
    border-radius: 0px 0px 0px 20px;
}

#navNext {
    border-radius: 0px 0px 20px 0px;
}

#navName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 120%;
    background: linear-gradient(to right, #00000000, var(--mainBase), var(--gradientBase), var(--mainBase), #00000000) center no-repeat;
}

#navName > * {
    margin: 0px;
    padding: 0px 5%;
    width: 32%;
    text-align: center;
}

#navName > :is(#charPrev, #charNext) {
    font-size: 80%;
    opacity: 0.8;
}

main {
    display: grid;
    grid-template: 
    "portrait name name name "
    "portrait desc desc desc"
    "age eqbutt eqbutt eqbutt"
    "attr eq eq eq";
    grid-template-columns: 25% 24% 24% 24%;
    grid-template-rows: 10% 38% 10% 38%;
    gap: 1%;
}

main.noPortrait {
    grid-template: 
    "age name name name "
    "attr desc desc desc"
    "attr eqbutt eqbutt eqbutt"
    "attr eq eq eq";
    grid-template-columns: 25% 24% 24% 24%;
    grid-template-rows: 10% 38% 10% 38%;
}

#portrait {
    cursor: pointer;
    grid-area: portrait;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portrait > img {
    max-height: 100%;
    max-width: 100%;
}

#charButtons {
    grid-area: name;
}

#charEquipmentButtons {
    grid-area: eqbutt;
}

#charButtons, #charEquipmentButtons, #favlistFuncButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#charDesc {
    grid-area: desc;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

#charDescBar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px silver solid;
    padding: 2px;
    margin-top: 1%;
}

#innerDesc {
    width: 100%;
    flex: auto;
}

#charStory {
    display: none;
    grid-area: desc;
}

#charSkills {
    display: none;
    flex-flow: row wrap;
    align-content: flex-start;
    grid-area: desc;
}

#charAge {
    grid-area: age;
}

#charHeight {
    grid-area: height;
}

#charSex {
    grid-area: sex;
}

#charBelief {
    grid-area: belief;
}

#charAge, #charSex, #charBelief, #charName, #charHeight {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 120%;
    overflow: hidden;
}

/* #charWeap>h2, #charArmor>h2, #charCloth>h2, #charItems>h2 {
    padding: 0.5rem;
    margin: 0px;
} */

:is(#charWeap, #charArmor, #charCloth, #charItems) > p {
    padding: 0.25rem;
    margin: 0px;
    flex-basis: 50%;
    border-left: 1px silver solid;
    box-sizing: border-box;
}

:is(#charWeap, #charArmor, #charCloth, #charItems) > p:nth-child(odd) {
    border: none;
}

#charWeap, #charArmor, #charCloth, #charItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
}

#charArmor, #charCloth, #charItems {
    display: none;
}

#charEquipment {
    grid-area: eq;
}

#charAttr {
    grid-area: attr;
}

#charAttr > p, #charAttr > div {
    padding: 2%;
    margin: 0px;
}

#charAttr > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#charAttr > div > meter {
    width: 100%;
    height: 0.8rem;
}

/* #charWeap {
    grid-area: eq;
}

#charArmor {
    grid-area: eq;
}
#charCloth {
    grid-area: eq;
}

#charItems {
    grid-area: eq;
} */

.skillItem {
    display: flex;
    flex-flow: row nowrap;
    flex: 2 0 fit-content;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 5px 15px;
    cursor: pointer;
    height: fit-content;
}

.skillItem > * {
    padding: 0.25em;
    margin: 0px;
    height: fit-content;
    pointer-events: none;
}

.skillItem > h4:nth-child(2) {
    border-left: 1px silver solid;
}

.skillItem > p {
    display: none;
}

.skillItem.active {
    flex: 2 0 fit-content;
}

.skillItem.active > p {
    display: block;
}


#lookup {
    display: flex;
    width: 100%;
    min-height: 2rem;
    height: 4vh;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: inherit;
}

#lookup > input {
    border: none;
    height: 100%;
    min-width: 100px;
    width: 20%;
    border-radius: 20px 0px 0px 20px;
    margin: 0px;
    text-align: right;
    font-size: inherit;
}

#charIDSubmit {
    background-color: var(--navColorB);
    height: 100%;
    min-width: fit-content;
    width: 10%;
    border-radius: 0px 20px 20px 0px;
    color: silver;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid silver;
    text-align: center;
    font-size: inherit;
}

#imageHandler {
    cursor: pointer;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0,0,0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imageHandler > img {
    max-height: 90%;
    max-width: 90%;
}

#favlist {
    grid-template: 
    "view nav"
    "bottom nav";
    grid-template-columns: auto 2rem;
    grid-template-rows: auto 10%;

}

#favlistNavButtons {
    grid-area: nav;
}

#favlistFuncButtons {
    grid-area: bottom;
}

#favlistFuncButtons {
    height: 100%;
    width: 100%;
}

#favlist .list {
    grid-area: view;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

#favlist .list button {
    background: none;
    color: silver;
    border: none;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 1rem;
}

#favlist .list .favlistViewItem button:nth-child(2) {
    width: fit-content;
    border-left: 1px solid silver;
}

#favlist .list .favlistViewItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#favlist .list .row .connect:nth-child(2) {
    width: 60%;
}