:root {
    --gradientBase: #770059;
    --navColorA: #ff33ccaa;
    --navColorB: #770059cc;
    --mainBase: #360029a1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(transparent, var(--navColorB), transparent);
    cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(transparent, var(--navColorA), transparent);
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(black, var(--gradientBase), black) no-repeat center;
    background-size: cover;
    font-size: 1.3rem;
    color: silver;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    width: 100vw;
    height: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

nav > a {
    background: linear-gradient(var(--navColorA), var(--navColorB)) no-repeat center;
    background-size: cover;
    text-decoration: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid silver;
    padding: 5px;
    font-weight: bold;
    box-sizing: border-box;
    color: silver;
    height: 100%;
}

#navPrev {
    border-radius: 0px 0px 0px 20px;
}

#navNext {
    border-radius: 0px 0px 20px 0px;
}

#navName {
    display: flex;
    flex-flow: row nowwrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(to right, #00000000, var(--mainBase), var(--gradientBase), var(--mainBase), #00000000) center no-repeat;
}

#navName > * {
    margin: 0px;
    padding: 0px 5%;
    width: 32%;
    text-align: center;
}

#navName > #charCur {
    font-size: inherit;
    font-weight: inherit;
}

#navName > :is(#charPrev, #charNext) {
    font-size: 80%;
    opacity: 0.8;
}

main {
    display: grid;
    grid-template: 
    "portrait name name name "
    "portrait desc desc desc"
    "age eqbutt eqbutt eqbutt"
    "attr eq eq eq";
    grid-template-columns: 25% 24% 24% 24%;
    grid-template-rows: 10% 38% 10% 38%;
    gap: 1%;
    box-sizing: border-box;
    padding: 1%;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
}

main.noPortrait {
    grid-template: 
    "age name name name "
    "attr desc desc desc"
    "attr eqbutt eqbutt eqbutt"
    "attr eq eq eq";
    grid-template-columns: 25% 24% 24% 24%;
    grid-template-rows: 10% 38% 10% 38%;
}

main > * {
    background-color: var(--mainBase);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-wrap: normal;
    box-sizing: border-box;
    padding: 1%;
}

.hidden {
    display: none !important;
}

#portrait {
    cursor: pointer;
    grid-area: portrait;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portrait > img {
    max-height: 100%;
    max-width: 100%;
}

#charButtons {
    grid-area: name;
}

#charEquipmentButtons {
    grid-area: eqbutt;
}

#charButtons, #charEquipmentButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.connect {
    background: none;
    color: silver;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px silver solid;
    cursor: pointer;
}

.connect.right {
    border: none;
}

.connect.active {
    background-image: linear-gradient(to right, transparent, var(--navColorB), var(--navColorB), transparent);
}

#charDesc {
    grid-area: desc;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

#charDescBar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px silver solid;
    padding: 2px;
    margin-top: 1%;
}

#innerDesc {
    flex: auto;
}

#charStory {
    display: none;
    grid-area: desc;
}

#charSkills {
    display: none;
    flex-flow: row wrap;
    align-content: flex-start;
    grid-area: desc;
}

#charAge {
    grid-area: age;
}

#charHeight {
    grid-area: height;
}

#charSex {
    grid-area: sex;
}

#charBelief {
    grid-area: belief;
}

#charAge, #charSex, #charBelief, #charName, #charHeight {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
    overflow: hidden;
}

/* #charWeap>h2, #charArmor>h2, #charCloth>h2, #charItems>h2 {
    padding: 0.5rem;
    margin: 0px;
} */

:is(#charWeap, #charArmor, #charCloth, #charItems) > p {
    padding: 0.25rem;
    margin: 0px;
    width: 50%;
    border-right: 1px silver solid;
    box-sizing: border-box;
}

:is(#charWeap, #charArmor, #charCloth, #charItems) > p:nth-child(even) {
    border: none;
}

#charWeap, #charArmor, #charCloth, #charItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
}

#charArmor, #charCloth, #charItems {
    display: none;
}

#charEquipment {
    grid-area: eq;
}

#charAttr {
    grid-area: attr;
}

#charAttr > p, #charAttr > div {
    padding: 2%;
    margin: 0px;
}

#charAttr > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#charAttr > div > meter {
    width: 100%;
    height: 0.8rem;
}

/* #charWeap {
    grid-area: eq;
}

#charArmor {
    grid-area: eq;
}
#charCloth {
    grid-area: eq;
}

#charItems {
    grid-area: eq;
} */

.skillItem {
    display: flex;
    flex-flow: row nowrap;
    flex: 2 0 fit-content;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 5px 15px;
    cursor: pointer;
    height: fit-content;
}

.skillItem > * {
    padding: 0.25em;
    margin: 0px;
    height: fit-content;
    pointer-events: none;
}

.skillItem > h4:nth-child(2) {
    border-left: 1px silver solid;
}

.skillItem > p {
    display: none;
}

.skillItem.active {
    flex: 2 0 fit-content;
}

.skillItem.active > p {
    display: block;
}


#lookup {
    display: flex;
    width: 100%;
    height: 1.5rem;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#lookup > input {
    border: none;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin: 0px;
    text-align: right;
}

.sideButton {
    background-color: var(--navColorB);
    height: 100%;
    width: fit-content;
    border-radius: 0px 20px 20px 0px;
    color: silver;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid silver;
    text-align: center;
}

#imageHandler {
    cursor: pointer;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0,0,0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imageHandler > img {
    max-height: 90%;
    max-width: 90%;
}