<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>Selathia</title>
		<script src="./scripts/fancy.js" defer type="text/javascript"></script>
	</head>
	<body>
		<nav>
			<a href="/">Selathia</a>
			<a href="/">Świat</a>
			<a href="#">Mapa</a>
			<a href="#">Państwa</a>
			<a href="#">Gatunki</a>
			<a href="#">Bestiariusz</a>
			<a href="#">Mechanika</a>
		</nav>

		<div id="searchbar">
			<label for="searchbox">&#128269</label>
			<input type="text" id="searchbox">
		</div>

		<div id="sidenav">
			<a href="#">Test link</a>
			<a href="#">Test link</a>
			<a href="#">Test link</a>
			<a href="#">Test link</a>
			<a href="#">Test link</a>
		</div>

		<div id="searchmod">

		</div>

		<main>