			<form name="crud" id="crud">
				<select name="universe" form="crud" id="uniselect">
				</select>
				<fieldset>
					<legend>Wybór operacji</legend>
					<select name="optype" form="crud" id="optype">
						<option value="" disabled selected>Wybierz rodzaj operacji</option>
						<option value="create">Stwórz</option>
						<option value="update">Aktualizuj</option>
						<option value="delete">Usuń</option>
					</select>
					<select name="optarget" form="crud" id="optarget">
						<option value="" disabled selected>Wybierz cel operacji</option>
						<option value="category">Kategoria</option>
						<option vlaue="tag">Tag</option>
						<option value="article">Artykuł</option>
					</select>
				</fieldset>
				<fieldset>
					<legend id="cheekyField">Dane</legend>
				</fieldset>
			</form>